body {
    background-color:white ;
    font-size:16px;
}

.container {
    display: flex;
    justify-content: space-between;
    position:relative;
    left:0;
}

.box {
    position: relative;
    margin-top:7%;

}

.box1 {
    display: block;
    background-color:darkgray;
    border: 3px solid black;
    width: 30%;
    height: 150px;
    margin-left:32px;
    margin-right:16px;
    padding: 10px;
    
}

.box2 {
    display: block;
    background-color: darkgray;
    border: 3px solid black;
    width: 30%;
    height: 150px;
    margin-right: 8px;
    margin-left:16px;
    padding: 10px;
   
}

.box3 {
    display: block;
    background-color: darkgray;
    border: 3px solid black;
    width: 30%;
    height: 150px;
    margin-right: 32px;
    margin-left:8px;
    padding: 10px;
    
}

.subtitle1 {
  position: absolute;
  top: 5px; /* Adjust the top position to move the subtitle box */
  right: 5px; /* Adjust the right position to move the subtitle box */
  width: 30%;
  height:25px;
  background-color: red;
  color:white;
  padding-top: 5px;
  padding-bottom:5px;
  text-align:center;
  border: 1px solid black;
  font-size: 1.25em ;
  
}

.subtitle2 {
    position: absolute;
    top: 5px; /* Adjust the top position to move the subtitle box */
    right: 5px; /* Adjust the right position to move the subtitle box */
    width: 30%;
    height: 25px;
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid black;
    font-size: 1.25em;
    color:orangered;
    
}

.subtitle3 {
    position: absolute;
    top: 5px; 
    right: 5px; 
    width: 30%;
    height: 25px;
    background-color: green;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 1px solid black;
    font-size: 1.25em;
    color:red
    
}



.basic {
    position:relative;
    font-size : 1em;
    text-align:left;
    margin-top:35px;
    overflow:hidden
}
.h1 {
    position: relative;
    color: black;
    font-family: 'Agency FB';
    font-size: 1.75em;
    text-align: center;
    margin-top: 8%;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
}
